<!DOCTYPE html>
<html>
<head>
  <title>PetFoxPetition</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id="header" class="header">
  <%= image_tag "images/ht_pudding_the_fox_04_mt_140821_4x3_992.jpg" %>
  <h1>American Pet Fox Petition</h1>
</header>

  <p class="alert"><%= alert %></p>

  <%= yield %>

<footer>
  <a href="https://github.com/Peter-White/PetFoxPetition">View on Github</a>
</footer>

</body>
</html>
