<!DOCTYPE html>
<html>
<head>
  <title>PetFoxPetition</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="/assets/free_to_use_fox_icon_by_xxadamantdahkittehxx-d5m2ahg">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Nunito:700' rel='stylesheet' type='text/css'>
</head>
<body>
<header id="header" class="header">
  <div id="icon" onClick="location.href='/'"></div>
  <h1 onClick="location.href='/'"><span style="color:red">Pet</span> <span style="color:gold">Fox</span> <span style="color:white">Petition</span></h1>

    <a href="/posts">
      <div id="forums" class="forums">
        <h2>Forums</h2>
      </div>
    </a>

    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Dropdown</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="#home">Home</a>
          <a href="#about">About</a>
          <a href="#contact">Contact</a>
        </div>
    </div>

    <div id="buttons">
      <% if user_signed_in? %>
        <%= link_to current_user.nickname, edit_user_registration_path %>
        <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to 'Sign Up', new_user_registration_path %>
        <%= link_to 'Sign In', new_user_session_path %>
      <% end %>
    </div>
</header>

  <p class="alert"><%= alert %></p>

<div id="container" class="container">
  <div id="paws"></div>
  <div id="pagecontent" class="pagecontent">
    <%= yield %>
  </div>
  <div id="paws"></div>
</div>

<footer>
  <h2>View on <a href="https://github.com/Peter-White/PetFoxPetition">Github</a></h2>
</footer>

</body>
</html>
